[Unit]
Description=Register for Ping-Pong
BindsTo=ping-pong.service
After=ping-pong.service

[Service]
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStart=/bin/sh -c "/bin/etcdctl set \"/vulcand/upstreams/ping-pong/endpoints/ping-pong-sidekick.service\" http://$COREOS_PUBLIC_IPV4:8880; \
  /bin/etcdctl set \"/vulcand/hosts/ping.greenswarm.io/locations/home/path\" '/.*'; \
  /bin/etcdctl set /vulcand/hosts/ping.greenswarm.io/locations/home/upstream ping-pong"
ExecStop=/bin/sh -c "/bin/etcdctl rm /vulcand/upstreams/ping-pong/endpoints/ping-pong-sidekick.service"

[X-Fleet]
X-ConditionMachineOf=ping-pong.service
