[Unit]
Description="Sidekick for Saphir"
BindsTo=saphir@%i.service
After=saphir@%i.service

[Service]
EnvironmentFile=/etc/environment
RemainAfterExit=yes

ExecStart=/bin/sh -c \
  "sleep 1; \
  port=$(/usr/bin/docker inspect saphir-%i | jq -r '.[].NetworkSettings.Ports.\"4567/tcp\"[].\"HostPort\"'); \
  echo \"saphir-%i running on port: {$port}\"; \
  /bin/etcdctl set \"/vulcand/upstreams/saphir/endpoints/%p-%i\" http://$COREOS_PUBLIC_IPV4:$port; \
  /bin/etcdctl set \"/vulcand/hosts/saphir.greenswarm.io/locations/home/path\" '/.*'; \
  /bin/etcdctl set /vulcand/hosts/saphir.greenswarm.io/locations/home/upstream saphir"

ExecStop=/bin/sh -c "/bin/etcdctl rm /vulcand/upstreams/saphir/endpoints/%p-%i"

[X-Fleet]
X-ConditionMachineOf=saphir@%i.service
